[submodule "web"]
	path = web
	url = https://github.com/feinwarusoftware/canary-web
[submodule "docs"]
	path = docs
	url = https://github.com/feinwarusoftware/canary-docs
[submodule "desktop"]
	path = desktop
	url = https://github.com/feinwarusoftware/canary-desktop
